#output {
  display: none;
}
button{
  margin: 4px;
  float:left;
}
.infoBtn{
  color: black;
  margin: 4px;
  float: left;
  display: none;
}
#h2 {
  display: none;
}

#h3, #h4, #h5, #h6, #h7, #h8, #h9, #h10, #h11, #h12, #h13, #h14, #h15 {
  display: none;
}
