#output {
  display: none;
}
button{
  margin: 4px;
  float:left;
}
.infoBtn{
  color: black;
  margin: 4px;
  float: left;
  display: none;
}


#h2, #h3, #h4, #h5, #h6, #h7, #h8, #h9, #h10, #h11, #h12, #h13, #h14, #h15 {
  display: none;
}

#bbDefault, #bb1, #bb2, #bb3, #bb4, #bb5, #bb6, #bb7, #bb8, #bb9, #bb10, #bb11, #bb12, #bb13, #bb14, #bb15 {
  display: none;
}
/* .showPaste{
  margin-left: 30px;
} */

#header1, #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15 {
  display: none;
}
